doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Tickets de Compra
    link(rel='stylesheet' href='/css/style.css')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css", rel="stylesheet")
  body
    nav
      ul
        li
          if !user
            a(href='/users/login') Iniciar sesión
          else
            a(href='/') Inicio
            a(href='/admin/altaAdmin') Alta Admininstrador
            a(href='/admin/stock') Stock de productos  
            a(href='/perfil') Perfil
            a(href='/misCompras') Mis compras
            a(href='/users/logout') Cerrar sesión
    .container.mt-4
      h1.text-center.mb-4 Lista de Tickets de Compra
      .table-responsive
        table.table.table-striped.table-hover
          thead.table-dark
            tr
              th #
              th Username
              th Nombre
              th Fecha
              th Hora
              th Total
              th Acciones
          tbody
            each ticket in tickets
              tr
                td= ticket.id_ticket
                td=ticket.username
                td= ticket.usuario 
                td= ticket.fecha
                td= ticket.hora
                td $#{ticket.total}
                td
                  a.btn.btn-info.btn-sm.me-2(href=`/admin/tickets/${ticket.id_ticket}/productos`) Ver Productos
                  form(action=`/admin/tickets/delete/${ticket.id_ticket}`, method="POST", style="display:inline;")
                    input(type="hidden", name="_csrf", value=csrf)
                    button(type='submit').btn.btn-danger.btn-sm Eliminar

      br
      // Paginación
      if totalPages > 1
        nav
          ul.pagination.justify-content-center
            if currentPage > 1
              li.page-item
                a.page-link(href=`/admin/tickets?page=${currentPage - 1}`) Anterior
            else
              li.page-item.disabled
                span.page-link Anterior

            each page in Array(totalPages).fill().map((_, i) => i + 1)
              if page === currentPage
                li.page-item.active
                  span.page-link= page
              else
                li.page-item
                  a.page-link(href=`/admin/tickets?page=${page}`)= page

            if currentPage < totalPages
              li.page-item
                a.page-link(href=`/admin/tickets?page=${currentPage + 1}`) Siguiente
            else
              li.page-item.disabled
                span.page-link Siguiente


    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js")
    if !user || rol !== 'admin'
      script.
        window.location.assign("/")